<table border="1">
<tr>
<th>Rank</th>
<th>Title</th>
<th>Author</th>
<th>Language</th>
<th>Year</th>
<th>Copies</th>
</tr>

<% @db.execute("select * from books order by " + param) do |book| %>
<tr>
<td><%= book[0] %></td>
<td><%= book[1] %></td>
<td><%= book[2] %></td>
<td><%= book[3] %></td>
<td><%= book[4] %></td>
<td><%= book[5].chomp %></td>
</tr>
<% end %>
</table>